<div class="container pt-2">
  <div class="text-input">
<input type="file" name="file" id="file" (change)="uploadImage($event)">
<div [hidden]="!image">
  <img class="img-thumbnail" style="width: 300px;" [src]="image || '//:0' ">
</div>
</div>
<div class="text-input">
  <h5 class="title-text">Title</h5>
  <input type="text" placeholder="Post title" [(ngModel)]="title" name="title">
</div> 
<div class="text-input">
  <h5 class="title-text">Content</h5>
  <textarea  placeholder="Post content" [(ngModel)]="content" name="content" rows="10"></textarea> 
</div> 
<div class="text-right">
  <button (click)="createPost()" class="read-btn" [disabled]="!title || !content "> {{ saving }}</button> 
</div>
</div>