
<div class="social-media pt-1"> 
    <h3  class="text-center text-uppercase ">follow me @ oliviaBlog</h3> 
    <div class="container img-container pt-1">
      <div class="img"> 
        <img src="../../../assets/img/women.jpg" alt="">
      </div>
      <div class="img"> 
        <img src="../../../assets/img/child.jpg" alt="">
      </div>
      <div class="img"> 
        <img src="../../../assets/img/food.jpg" alt="">
      </div>
      <div class="img"> 
        <img src="../../../assets/img/laptop.jpg" alt="">
      </div>
    </div>
</div>

<div class="space-2"></div>